html,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: blanchedalmond;
    font-family: 'Nunito', cursive;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
}

img {
    height: 100%;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
}

.desktop {
    position: relative;
    width: 375px;
    height: 667px;
    background-color: white;
    margin: auto;
    overflow: hidden;
}


/* navbar stuffs */
.navbar {
    position: absolute;
    width: 375px;
    height: 56px;
    left: 0px;
    top: 0px;
    background: #002984;
}

.navbar-text {
    position: absolute;
    width: 182px;
    height: 33px;
    left: 53px;
    top: 12px;

    font-family: 'Nunito', cursive;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;

    color: #FFFFFF;
}

.navbar-icon {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 15px;
    top: 16px;
    /* border-radius: 90px; */
    display: flex;
    align-items: center;
}

.navbar-icon i {
    margin: auto;
    color: white;
}


/* profile-content-1 stuffs */
#picture-area {
    position: absolute;
    width: 56px;
    height: 56px;
    left: 15px;
    top: 72px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: #E0E0E0;
    box-shadow: 4px 4px 8px rgba(0, 41, 132, 0.25);
    border-radius: 8px;
}

#name-info {
    position: absolute;
    width: 63px;
    height: 16px;
    left: 87px;
    top: 72px;

    font-family: 'Nunito', cursive;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;

    color: #000000;
}

#class-info {
    position: absolute;
    width: 90px;
    height: 16px;
    left: 87px;
    top: 92px;

    font-family: 'Nunito', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;

    color: #000000;
}


/* profile-content-2 stuffs */
.random-rectangle {
    position: absolute;
    width: 341px;
    height: 196px;
    left: 17px;

    background: #002984;
    box-shadow: 4px 4px 8px rgba(0, 41, 132, 0.25);
    border-radius: 8px;
}


/* change-photo-content-1 stuffs */
#taken-picture-box {
    position: absolute;
    width: 343px;
    height: 343px;
    left: 15px;
    top: 72px;
    overflow: hidden;

    background: #E0E0E0;
    box-shadow: 4px 4px 8px rgba(0, 41, 132, 0.25);
    border-radius: 8px;
}

.button-in-cp {
    position: absolute;
    width: 341px;
    height: 40px;
    left: 17px;

    text-align: center;

    background: #006C84;
    box-shadow: 4px 4px 8px rgba(0, 41, 132, 0.25);
    border-radius: 8px;
}

#save-button-in-cp {
    position: absolute;
    width: 375px;
    height: 44px;
    left: 0px;
    top: 623px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: #E0E0E0;
    box-shadow: 4px 4px 8px rgba(0, 41, 132, 0.25);
}


/* camera-taken-content-1-stuffs */
#taken-photo {
    position: absolute;
    width: 343px;
    height: 579px;
    left: 15px;
    top: 72px;
    margin: auto;
    overflow: hidden;
    border-radius: 9px;
}

.frame {
    position: absolute;
    width: 55px;
    height: 10px;

    background: #FFFFFF;
    border-radius: 5px;
}

#execute-button {
    position: absolute;
    width: 56px;
    height: 56px;
    left: 160px;
    top: 574px;

    background: #FFFFFF;
    border-radius: 28px;
}


/* gallerytaken */
#save-button {
    position: absolute;
    width: 343px;
    height: 40px;
    left: 15px;
    top: 611px;

    text-align: center;

    background: #002984;
    border-radius: 0px 0px 8px 8px;
}